#grid-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 20px;
}

@media (max-width: 768.98px) {
    #grid-produtos {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) {
    #grid-produtos {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1024px) {
    #grid-produtos {
        grid-template-columns: repeat(3, 1fr);
    }
}